div {
    background-color: rgb(133, 183, 249);
    font-size: large;
    padding: 10px;
    display: flex;
justify-content: space-between;


}

nav {

    display: flex;
    flex-direction: row;
   
    align-items: center;
    gap: 850px;

}


div input {
    border: 0;
    border-radius: 20px;
    padding: 18px;

}
button{
    border-radius: 20px;
    border: 0px;
    background-color: seashell;
    padding: 13px;
    
}

#opciones {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: space-between;

}


a {
    text-decoration: none;
    color: black;
    font-size: large;
    text-align: center;
    font-weight: bold;
}