<div>
    <nav>
        <div>
            <input type="search" placeholder="search">
            <div id="opciones">

                <div>
                    <a routerLink="/"><img src="svgviewer-output.svg" alt="contact" width="30"
                            height="30">Contacto</a>
                </div>

                <div>
                    <a routerLink="/grupos"> <img src="svgviewer-output (1).svg" alt="grupos" width="30"
                            height="30">Grupos</a>
                </div>
            </div>
        </div>
        
            <div><button (click)="openLogoutModal()">Log out</button></div>
           
    </nav>
</div>
<router-outlet />